@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.wave-container{
    position: relative;
}


.textPrincipal {
    font-family: 'Abril Fatface', serif;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
}

.card-deck{
    display: flex;
    justify-content: space-around;
}

.card-deck2{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.card {
    max-width: 18rem;
    width: auto;
    height: auto;
}

.navbar-brand {
    height: auto;
    width: 120px;
}

.navbar {
    background-color: black;
}

.molho {
    display: flex;
    max-width: 100%;
    max-height: auto;
}